@import "css_base.css";
@import "header.css";
@import "menu.css";
@import "footer.css";

#noi{
    float: left;
    width: 96%;
}

#noi img{
    width: 100.1%;
}

#content{
    float: left;
    width: 78%;
    border-left: solid;
    padding-bottom: 4%;
}

#content .text{
    padding-left: 1%;
}

#content h2{
    margin: 2%;
    padding-left: 1%;
}

#content p{
    margin-bottom: 2%;
    margin-left: 3%
}