@import "css_base.css";
@import "header.css";
@import "menu.css";
@import "footer.css";

#content{
    top: 100%;
    float: left;
    padding-top: 7%;
    padding-left: 1%;
    padding-bottom: 10%;
    width: 78%;
    border-left: solid;
}

#menu{
    top: 100%;
}

#content ul{
    padding-top: 2%;
    padding-left: 10%;
}

#content li{
    padding-top: 2%;
}

#content p{
    padding-top: 2%;
}
