@import "mobile_base.css";

.contenitore{
    margin-top: 5%;
    margin-bottom: 3%;
}

.linea{
    margin-top: 4%;
    margin-bottom: 4%;
}

p{
    line-height: 140%;
}

input {
    width: 98%;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 120%;
}

select{
    width: 98%;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 120%;
}

input[type='submit']{
    background-color: #FFCC00;
    width: 100%;
    font-size: 120%;
    margin-top: 5%;
    margin-bottom: 3%;
}

#content ul{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
}

#content li{
    padding-top: 4%;
}

#content p{
    padding-top: 2%;
}
