@import "mobile_base.css";

.linea{
    margin-top: 5%;
    margin-bottom: 3%;
}

#content ul{
    list-style-type: none;
    border: solid;
    padding: 2%;
}

li{
    line-height: 140%;
}

button{
    background-color: #FFCC00;
    width: 100%;
    font-size: 120%;
    margin-top: 5%;
    margin-bottom: 3%;
}