* {
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 720px;
    margin: auto;
}

body {
    border: 1px solid #000;
    font-size: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

h2{
    text-align: center;
    background-color: #FFCC00;
    margin-top: 2%;
    margin-bottom: 2%;
}

p{
    line-height: 140%;
}

img{
    width: 100%;
}

#content{
    clear: left;
    margin-right: 5%;
    margin-left: 5%;
}

#header{
    width: 100%;
    background-color: #2A6c9c;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    text-align: center;
}

#breadcrumb p{
    background-color: #031A2B;
    color: white;
    padding: 0.5% 0 0.5% 1%;
    font-size: 105%;
}

#menu{
    width: 100% ;
}

#menu ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #2A6c9c;
}

#menu li{
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    width: 44%;
    background-color: #FFCC00;
    text-align: center;
}

#menu li a{
    display: block;
}

#footer{
    border-top: solid;
    width: 100%;
}

#footer img{
    width: 15%;
    margin-top: 1%;
    margin-right: 4%;
    margin-left: 20%;
}

#footer em{
    visibility: hidden;
    display: none;
}

.hidden {
    position:absolute;
    height:0;
    overflow:hidden;
}

.linea a{
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}