@import "css_base.css";
@import "header.css";
@import "menu.css";
@import "footer.css";

#content{
    float: left;
    padding-top: 2%;
    padding-left: 1%;
    width: 78%;
    border-left: solid;
}

#content .text{
    padding-left: 1%;
}

.contenitore{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.linea{
    margin: 3%;
}

input{
    margin-top: 2%;
    font-size: 120%;
}

input[type=radio]{
    transform: scale(2);
}

select{
    margin-top: 1%;
    font-size: 120%;
}

#nomeC{
    margin-left: 8%;
}

#cognomeC{
    margin-left: 4.3%;
}


#nomeD{
    margin-left: 5.2%;
}

#cognomeD{
    margin-left: 1.5%;
}

#via{
    margin-left: 4.6%;
}

#citta{
    margin-left: 9.3%;
}

#provincia{
    margin-left: 11.8%;
}

#cell{
    margin-left: 2%;
}

#bara{
    margin-left: 11%;
}

#sicremazione{
    margin-right: 20%;
    margin-left: 1%;
}

#nocremazione{
    margin-left: 1%;
}

#urna{
    margin-left: 9.3%;
}

#auto{
    margin-left: 11.3%;
}

#fiori{
    margin-left: 1%;
}

#risultati{
    margin-left: 4%;
    margin-top: 2%;
}

#risultati p{
    margin-top: 2%;
    margin-bottom: 2%;
}

#content button{
    margin-top: 3%;
    margin-right: 50%;
    margin-bottom: 2%;
    margin-left: 22%;
    width: 32%;
    font-size: 140%;
}