@import "css_base.css";
@import "header.css";
@import "menu.css";
@import "footer.css";

#content{
    float: left;
    padding-top: 2%;
    padding-left: 1%;
    width: 78%;
    border-left: solid;
}

h2 {
    padding-bottom:1%;
}

#content .text{
    padding-left: 1%;
}

.contenitore{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.linea{
    margin: 3%;
}

.linea input{
    float: right;
    clear: both;
}

select{
    float: right;
    clear: both;
}

#cf{
    margin-left: 10%;
}

#nomeC{
    margin-left: 11%;
}

#cognomeC{
    margin-left: 7%;
}


#nomeD{
    margin-left: 8.5%;
}

#cognomeD{
    margin-left: 4.5%;
}

#nascita{
    margin-left: 1%;
}

#decesso{
    margin-left: 11%;
}

#via{
    margin-left: 8%;
}

#citta{
    margin-left: 12%;
}

#provincia{
    margin-left: 15%;
}

#tel{
    margin-left: 3%;
}

#cerimonia{
    margin-left: 14%;
}

#bara{
    margin-left: 11%;
}

#urna{
    margin-left: 11.3%;
}

#auto{
    margin-left: 11.3%;
}

#fiori{
    margin-left: 1%;
}

#risultati{
    margin-left: 4%;
    margin-top: 2%;
}

#risultati p{
    margin-top: 2%;
    margin-bottom: 2%;
}

#content input[type='submit']{
    margin-top: 3%;
    /*margin-right: 50%;*/
    margin-bottom: 3%;
    margin-left: 29%;
    width: 32%;
    font-size: 140%;
}

[hidden] {
    display: none;
}

input [type='checkbox']{
    padding-top: 50%;
}
