@import "header.css";
@import "menu.css";
@import "footer.css";

* {
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 1024px;
    margin: auto;
}

body {
    border: 1px solid #000;
    font-family: Verdana, Geneva, sans-serif;
}

#viale{
    float: left;
    width: 80%;
}

#viale img{
    width: 100.1%;
}

#content{
    float: left;
    margin-top: -0.5%;
    margin-left: 20%;
    width: 50%;
    border-left: solid;
}

#content .text{
    margin-top: 2%;
    padding-left: 2%;
    width: 99%;
}

#content .text p{
    margin-bottom: 4%;
    line-height: 120%;
}

#content .text h2{
    margin-bottom: 2%;
}

#news{
    float: right;
    width: 25%;
    border: dotted;
    text-align: center;
    margin-top: 3%;
    margin-right: 3%;
}

#news ul{
    padding-left: 17%;
    padding-bottom: 5%;
}
