* {
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 1024px;
    margin: auto;
}

body {
    border: 1px solid #000;
    font-family: Verdana, Geneva, sans-serif;
}

#header{
    background-color: #2A6c9c;
    padding:1.0em;
    color: white;
    text-align: center;
}

#breadcrumb{
    background-color: #031A2B;
    color: white;
    padding: 0.5em 0 0.5em 1em;
}

#menu{
    float:left;
    width: 19%;
    padding:0 0 1em 0.5em;
    overflow:hidden;
}

#menu ul{
    margin-top: 0.3em;
    padding:0.2em;
    list-style-type:none;
}

#menu li{
    margin-top: 0.7em;
}

#content{
    float: left;
    width: 78%;
    border-left: solid;
}

#content .text{
    padding-left: 0.5em;
}

#footer{
    clear: left;
    border-top: solid;
    text-align: center;
}

.contenitore{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.linea{
    margin: 2%;
}

#nomeC{
    margin-left: 8%;
}

#cognomeC{
    margin-left: 4.3%;
}


#nomeD{
    margin-left: 5.2%;
}

#cognomeD{
    margin-left: 1.5%;
}

#via{
    margin-left: 5.6%;
}

#citta{
    margin-left: 9.3%;
}

#provincia{
    margin-left: 11.8%;
}

#cell{
    margin-left: 2%;
}

#bara{
    margin-left: 11%;
}

#sicremazione{
    margin-right: 20%;
    margin-left: 1%;
}

#nocremazione{
    margin-left: 1%;
}

#urna{
    margin-left: 11.3%;
}

#auto{
    margin-left: 11.3%;
}

#fiori{
    margin-left: 2%;
}

#risultati{
    margin-left: 4%;
    margin-top: 2%;
}

#risultati p{
    margin-top: 2%;
    margin-bottom: 2%;
}
